<div class="btn-group" role="group">
    <button onclick="fetchContent('up')" class="btn btn-default" type="button" {{if eq .isRoot true}} disabled="disabled" {{end}}>
        <span class="glyphicon glyphicon-chevron-up"></span>
    </button>
    <button onclick="fetchContent('current')" class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-repeat"></span>
    </button>
    <button onclick="fetchContent('home')" class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-home"></span>
    </button>
</div>

<div class="btn-group pull-right" role="group">
    {{if eq .isTrash false}}
        <button onclick="fetchContent('trash')" class="btn btn-default" type="button" {{if eq .noTrash true}} disabled="disabled" {{end}}>
            <span class="glyphicon glyphicon-trash"></span>
            {{if eq .noTrash false}}
                {{.trashCount}}
                item{{if ne .trashCount 1}}s{{end}}
            {{else}}
                Not Set{{end}}
        </button>
    {{end}}
    {{if ne .trashCount 0}}
        <button onclick="emptyTrash()" class="btn btn-default" type="button" {{if eq .trashCount 0}} disabled="disabled" {{end}}>
            <span class="glyphicon glyphicon-remove"></span>
            Empty
        </button>
    {{end}}
</div>

{{if ne .empty true}}
    <div class="page-header">
        <h1>Your files
            <small>This is the fun part</small>
        </h1>
    </div>
    {{range $cat, $content := .content}}
        <h3>{{ $cat }}</h3>
        {{if eq $cat "Directory"}}
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th class="col-xs-7 col-sm-8 col-md-10">Name</th>
                        <th class="col-xs-5 col-sm-4 col-md-2">Options</th>
                    </tr>
                    {{range $dir := $content}}
                        <tr>
                            <td>
                                <a onclick="fetchContent({{$dir.Name}})" href="#">{{$dir.Name}}</a>
                            </td>
                            <td>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group btn-group-sm btn-group-xs" role="group">
                                        <button data-toggle="tooltip" data-placement="top" title="Go To" onclick="fetchContent({{$dir.Name}})" type="button" class="btn btn-default" data-toggle="modal" data-target="#archiveName">
                                            <span class="glyphicon glyphicon-share-alt" aria-label="Go To"></span>
                                            <!-- <span class="hidden-xs">Go to</class> -->
                                        </buton>
                                    </div>
                                    <div class="btn-group btn-group-sm btn-group-xs" role="group">
                                        <button data-toggle="tooltip" data-placement="top" title="Compress" onclick="setToCompress({{$dir.Name}})" type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-compressed" aria-label="Compress"></span>
                                            <!-- <span class="hidden-xs">Compress</class> -->
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {{end}}
                </table>
            </div>
        {{else}}
            {{range $subCat, $files := $content}}
                <h4>{{ $subCat }}</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-xs-6 col-sm-6 col-md-8">Name</th>
                                <th class="col-xs-2 col-sm-2 col-md-2">Size</th>
                                <th class="col-xs-4 col-sm-4 col-md-2">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $file := $files}}
                                <tr>
                                    <td>
                                        <a target="_blank" href="/app/file/{{$file.Name}}">{{$file.Name}}</a>
                                    </td>
                                    <td>
                                        <p>{{$file.Size}}</p>
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                            <div class="btn-group btn-group-sm btn-group-xs" role="group">
                                                <button data-toggle="tooltip" data-placement="top" title="Compress" onclick="setToCompress({{$file.Name}})" type="button" class="btn btn-default" aria-label="Left Align">
                                                    <span class="glyphicon glyphicon-compressed" aria-label="Compress"></span>
                                                    <!-- <span class="hidden-xs {{if eq $cat " Video" " Image"}}hidden-sm hidden-md{{end}}">Compress</class> -->
                                                </button>
                                            </div>
                                            <div class="btn-group btn-group-sm btn-group-xs" role="group">
                                                <!-- <button data-toggle="tooltip" data-placement="top" title="Download" onclick="downloadFile({{$file.Name}})" type="button" class="btn btn-default" aria-label="Left Align"> -->
                                                <a href="/app/file/{{if ne $.isRoot true}}{{$.relPwd}}/{{end}}{{$file.Name}}" data-toggle="tooltip" data-placement="top" title="Download" type="button" class="btn btn-default" aria-label="Left Align">
                                                    <span class="glyphicon glyphicon-download" aria-label="Download"></span>
                                                    <!-- <span class="hidden-xs {{if eq $cat " Video" " Image"}}hidden-sm hidden-md{{end}}">Download</class> -->
                                                </a>
                                            </div>
                                            {{if eq $cat "Video"}}
                                                {{if ne $subCat "MP4 Video"}}
                                                    <div class="btn-group btn-group-sm btn-group-xs" role="group">
                                                        <button data-toggle="tooltip" data-placement="top" title="Convert to MP4" onclick="convertToMP4({{$file.Name}})" type="button" class="btn btn-default" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-cog" aria-label="Convert"></span>
                                                            <!-- <span class="hidden-xs {{if eq $cat " Video" " Image"}}hidden-sm hidden-md{{end}}">To MP4</class> -->
                                                        </button>
                                                    </div>
                                                {{end}}
                                                {{if eq $subCat "MP4 Video"}}
                                                    <div class="btn-group btn-group-sm btn-group-xs" role="group">
                                                        <a target="_blank" href="/app/watch/{{$file.Name}}" data-toggle="tooltip" data-placement="top" title="Play" type="button" class="btn btn-default" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-play" aria-label="Play"></span>
                                                            <!-- <span class="hidden-xs {{if eq $cat " Video" " Image"}}hidden-sm hidden-md{{end}}">Play</class> -->
                                                        </a>
                                                    </div>
                                                {{end}}
                                            {{end}}
                                            {{if eq $cat "Image"}}
                                                <div class="btn-group btn-group-sm btn-group-xs" role="group">
                                                    <button onclick="previewImage({{$file.Name}})" data-toggle="tooltip" data-placement="top" title="Preview" type="button" class="btn btn-default" aria-label="Left Align">
                                                        <span class="glyphicon glyphicon-play" aria-label="Preview"></span>
                                                        <!-- <span class="hidden-xs {{if eq $cat "Video" "Image"}}hidden-sm hidden-md{{end}}">Preview</class> -->
                                                    </button>
                                                </div>
                                            {{end}}
                                            {{if eq $.noTrash false}}
                                                {{if eq $.isTrash false}}
                                                    <div class="btn-group btn-group-sm btn-group-xs" role="group">
                                                        <button data-toggle="tooltip" data-placement="top" title="Trash" onclick="trashFile({{$file.Name}})" type="button" class="btn btn-default" aria-label="Left Align">
                                                            <span class="glyphicon glyphicon-trash" aria-label="Trash"></span>
                                                            <!-- <span class="hidden-xs {{if eq $cat "Video" "Image"}}hidden-sm hidden-md{{end}}">Trash</class> -->
                                                        </button>
                                                    </div>
                                                {{end}}
                                            {{end}}
                                            {{if eq $.isTrash true}}
                                                <div class="btn-group btn-group-sm btn-group-xs" role="group">
                                                    <button data-toggle="tooltip" data-placement="top" title="Delete" onclick="deleteFile({{$file.Name}})" type="button" class="btn btn-default" aria-label="Left Align">
                                                        <span class="glyphicon glyphicon-remove" aria-label="Delete"></span>
                                                        <!-- <span class="hidden-xs {{if eq $cat "Video" "Image"}}hidden-sm hidden-md{{end}}">Trash</class> -->
                                                    </button>
                                                </div>
                                            {{end}}
                                        </div>
                                    </td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            {{end}}
        {{end}}
    {{end}}
{{else}}
    <div class="alert alert-info" role="alert">
        <p>This is really empty in here!</p>
    </div>
{{end}}
